<div class="about">
    <a [routerLink]="['home']" routerLinkActive="active"> HOME</a>
    <a [routerLink]="['haber']" routerLinkActive="active"> HABER</a>
    <a [routerLink]="['duyuru']" routerLinkActive="active"> DUYURU</a> 
<p>
<b> ABOUT SAYFAMIZA HOSGELDINIZ</b>
  HAKKIMIZDA BILMEK ISTEDIKLERINIZE BURADAN ULASABILIRSINIZ
</p>
<router-outlet></router-outlet>

bfnlzdhj lhjv HOSGELDINIZ GSjgvdvJgv <br>
gjslgjOLDGNJJ              RNHGLNSRGSGs BR
LKJGLRJGldsjg <br>
HOSGELDINIZkhcfe IOEP  EHFN H F C 
</div>
