<p class="duyuru">
  DUYURULAR SAYFAMIZDA GUNCEL ILANLARI BULABILIRSINIZ
</p>
<a [routerLink]="['home']" routerLinkActive="active"> HOME</a>
<a [routerLink]="['haber']" routerLinkActive="active"> HABER</a>
<a [routerLink]="['duyuru']" routerLinkActive="active"> DUYURU</a>
<P>
  DUYURULAR SAYFAMIZ YAPIM ASAMASINDADIR <br>
  YENI HABERLERI MUMKUN OLDUGU EN KISA ZAMAN ICERISINDE SIZINLE PAYLASACAGIZ <br>
  LINKLERDEN U GRGKHUSDG
   EIGudhgUH GHDSGlgBVD DGDmjh
    DJKKKKKKKKLHGDHJDGB GJDSH    GHdjGHkdhGKJDHdjHJHh GHdjGHkdhGKJDHdjHJHh <br>

</P>
<router-outlet></router-outlet>